*.class
*.lst
*.netbeans_automatic_build
/ApuntesVarios/target/
/Bucles/target/
/Interfaces/target/
/ext5bJoseAngelGomezMorillo/target/
/Lambda/target/
/ExpresionesRegulares/target/
/IterfacesGrafica/target/
/tarea1GUIJoseAngelGomezMorillo/target/
/tarea2GUIJoseAngelGomezMorillo/target/
/SelectorJuego/target/
/Ficheros/target/
/Ej7AJoseAngelGomezMorillo/target/
/ej7bJoseAngelGomezMorillo/target/
/chistes/target/
/HuellaCarbono/target/
/Ejercicio7EJoseAngelGomezMorillo/target/
/Examenes/target/
/TiposVariables/target/
/ex17JoseAngelGomezMorillo/target/
/conexionJDBC-master/target/
/PruebaConexionBD/target/
/EjerciciosBD/target/
/bdvehiculo/target/
/apuntesJPA/target/
/apuntesBD_JPA/target/
/Ejercicio_8.1_BD/target/
/ejercicio_8.2_BD/target/
/T8_Prueba_Conexion_BD_VICO/target/
